{% extends 'main/base_home.html' %}
{% block title %} Cereri acceptate {% endblock %}

{% block content %}
<style>
.special-box {
  background-color: #f8f9fa; /* Background color for the special box */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  margin-bottom: 20px; /* Add margin to the bottom of the special box */
}
#fireworks-container {
    position: fixed; /* Fixed position */
    bottom: 50px; /* Position it just above the support bar */
    width: 100%; /* Full width */
    height: calc(100vh - 50px); /* Adjust height to fill the viewport minus the support bar height */
    z-index: 999; /* Ensure it's above other content */
}
.trimis-lui {
  display: block; /* Display on a separate line */
  font-size: 16px; /* Adjust font size as needed */
  color: #6c757d; /* Adjust text color */
}
</style>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="special-box">
        <h2 class="text-center"> Felicitări! Cererea ta a fost acceptată! </h2>
      </div>
      <ul class="list-unstyled">
        {% for note in accepted_notes %}
        <li style="font-size: 18px;">
          {{ note.title }} - {{ note.description }} 
          <div class="trimis-lui">Trimis lui: {{ note.destination.username }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block fireworks-animation %}
  <script src="https://unpkg.com/fireworks-js@2.x/dist/index.umd.js"></script>
  <script>
        // Wait for the DOM content to be loaded
        document.addEventListener('DOMContentLoaded', function () {
            // Get the fireworks container
            var container = document.getElementById('fireworks-container');
            
            // Initialize the fireworks animation
            var fireworks = new Fireworks.default(container);
            
            // Start the fireworks animation
            fireworks.start();
        });
  </script>
{% endblock %}
