{% extends 'main/base_home.html' %}
{% block title %} Creează o cerere {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="destination" class="form-label">Selecteaza profesorul:</label>
        <select class="form-select" id="destination" name="destination">
            {% for professor in professors %}
            <option value="{{ professor.id }}">{{ professor.username }}</option>
            {% endfor %}
        </select>
        {% if form.errors.destination %}
            <div class="alert alert-danger mt-3">
                {% for error in form.errors.destination %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {{ form|crispy }}
    <div class="mb-3">
        {% if form_errors %}
            <div class="alert alert-danger mt-3">
                <strong>Error:</strong> {{ form_errors }}
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Trimite</button>
    <a href="{% url 'home_student' %}" class="btn btn-secondary">Înapoi</a>
</form>
{% endblock %}
