{% extends 'unauthenticated/base_auth.html' %}

{% block panel_content %}
    <div class="container mt-4">
        <div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
            <div class="panel panel-default shadow-lg" style="width: 1400px; background-color: white; border-radius: 10px;">
                <div class="panel-body p-4">
                    {% block inner_panel_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
