{% extends 'unauthenticated/base_auth_panel.html' %}

{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}

{% block inner_panel_content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p> Creează un cont <a href="/sign-up">aici</a>!</p>
        <button type="submit" class="btn btn-success">Autentificare</button>
    </form>
    <form>
        <button type="button" class="btn btn-secondary mt-3">Resetare parolă</button>
    </form>
{% endblock %}
