{% extends 'unauthenticated/base_auth_panel.html' %}
{% block title %} Resetează parola {% endblock %}

<!-- Pagina de resetare a parolei -->
{% block inner_panel_content %}
<form id="resetPasswordForm" action="{% url 'reset_password_auth_action' uidb64=uidb64 token=token %}" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-sm-6 offset-sm-3">
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Parola noua" required>
        </div>
    </div> 
    <div class="row mb-3">
        <div class="col-sm-6 offset-sm-3">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirma noua parola" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
            <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button>
        </div>
    </div>
</form>

<style>
    ::placeholder {
        color: #6c757d;
    }
</style>
{% endblock %}

<!-- Mesaj de verificare in caz in care parola introdusa nu e buna etc -->
{% block verification_message %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 d-flex justify-content-center">
      {% if messages %}
        <div class="alert alert-success alert-dismissible fade show position-absolute" style="bottom: 50px; width: 50%;" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
