{% extends 'unauthenticated/base_auth_panel.html' %}

{% block inner_panel_content %}
<form id="resetPasswordForm" method="post">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-sm-6 offset-sm-3">
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6 offset-sm-3">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center"> <!-- Center aligns the button -->
            <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button> <!-- Adjusted width -->
        </div>
    </div>
</form>

<style>
    /* Optional: Customize placeholder text color */
    ::placeholder {
        color: #6c757d; /* Bootstrap's form-control placeholder text color */
    }
</style>
{% endblock %}
