{% extends 'main/base.html' %}
{% block title %} Create a note {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="destination" class="form-label">Select Professor:</label>
        <select class="form-select" id="destination" name="destination">
            {% for professor in professors %}
            <option value="{{ professor.id }}">{{ professor.username }}</option>
            {% endfor %}
        </select>
    </div>
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Send</button>
</form>
{% endblock %}