{% extends 'main/base.html' %}
{% block title %} Pagina principala a secretarei {% endblock %}
{% block content %}
{% for professor in professors %}
<h2>{{ professor.username }}</h2>
<ul>
  {% for note in professor.received_notes.all %}
  {% if note.is_accepted %}
  <li>
    <strong>Student:</strong> {{ note.author.username }}<br>
    <strong>Titlul lucrarii:</strong> {{ note.title }}<br>
    <strong>Descrierea lucrarii:</strong> {{ note.description }}<br>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
