{% extends 'main/base_home.html' %}
{% block title %} Admin Home {% endblock %}

{% block content %}
<style>
    .form-check-input[type="radio"] {
        width: 1.2em;
        height: 1.2em;
        margin-top: 0.25em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        background-color: #343a40; /* Example blue color */
    }
    .table {
        table-layout: fixed;
        width: 100%;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table td {
        word-wrap: break-word; /* Allow long words to wrap */
    }

</style>

<div class="container mt-4">
    <!-- Tab-uri pentru setari -->
    <ul class="nav nav-tabs" id="settings-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-users-tab" data-bs-toggle="tab" href="#all-users" role="tab" aria-controls="all-users" aria-selected="true">Toți utilizatorii</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="all-notes-tab" data-bs-toggle="tab" href="#all-notes" role="tab" aria-controls="all-notes" aria-selected="false">Toate cererile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="add-role-department-tab" data-bs-toggle="tab" href="#add-role-department" role="tab" aria-controls="add-role-department" aria-selected="false">Adaugă departament/specializare</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="delete-all-notes-students-tab" data-bs-toggle="tab" href="#delete-all-notes-students" role="tab" aria-controls="delete-all-notes-students" aria-selected="false">Șterge toți studenții și cererile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="logs-tab" data-bs-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Istoric</a>
        </li>
    </ul>
    
    <!-- Continutul fiecarui tab -->
    <div class="tab-content mt-3" id="settings-tabContent">
        <!-- Toti userii -->
        <div class="tab-pane fade show active" id="all-users" role="tabpanel" aria-labelledby="all-users-tab">
            <div class="row align-items-center mb-3">
                <div class="col-lg-6">
                    <form method="GET" action="{% url 'home_admin' %}" class="d-flex align-items-center">
                        {% csrf_token %}
                        <input type="text" class="form-control me-2" id="user-search" name="user_search_query" placeholder="Cauta un utilizator" value="{{ user_filter }}">
                        <button type="submit" class="btn btn-primary">Caută</button>
                    </form>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-lg-6">
                    <form method="GET" action="{% url 'home_admin' %}" class="d-flex">
                        {% csrf_token %}
                        <input type="hidden" name="selected_user" value="{% if selected_user %}{{ selected_user.id }}{% endif %}">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn {% if selected_user %}btn-primary{% else %}btn-secondary{% endif %} {% if not selected_user %}disabled{% endif %}" name="action" data-bs-toggle="collapse" data-bs-target="#resetPasswordAccordion" aria-expanded="false" aria-controls="resetPasswordAccordion">Resetează parola</button>
                            <button type="submit" class="btn {% if selected_user %}btn-primary{% else %}btn-secondary{% endif %} {% if not selected_user %}disabled{% endif %}" name="action" value="delete_users_notes">Șterge</button>
                            <button type="submit" class="btn {% if selected_user %}btn-primary{% else %}btn-secondary{% endif %} {% if not selected_user %}disabled{% endif %}" name="action" value="change_groups_roles">Schimbă grupuri</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    {% if selected_user %}
                        <form method="GET" action="{% url 'home_admin' %}" class="d-flex justify-content-end">
                            {% csrf_token %}
                            <input type="hidden" name="selected_user" value="{% if selected_user %}{{ selected_user.id }}{% endif %}">
                            <div class="btn-group" role="group">
                                {% if selected_user.is_superuser %}
                                    <button type="submit" class="btn btn-primary" name="action" value="unset_superuser">Scoate administrator</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary" name="action" value="set_superuser">Setează administrator</button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div id="resetPasswordAccordion" class="collapse">
                        <div class="card card-body">
                            <form method="POST" action="{% url 'password_reset_admin' %}">
                                {% csrf_token %}
                                <input type="hidden" name="selected_user" value="{% if selected_user %}{{ selected_user.id }}{% endif %}">
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Introdu noua parolă">
                                </div>
                                <button type="submit" class="btn btn-primary">Salvare</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DE BAGAT MODIFICARE DEPARTAMENT AND STUFF -->
            <div class="mt-3">
                <form id="userForm">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nume utilizator</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Ultima autentificare</th>
                                    <th scope="col">Administrator</th>
                                    <th scope="col">Activ</th>
                                    <th scope="col">Data înregistrării</th>
                                    <th scope="col">Grupuri</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="selected_user" id="select_user_{{ user.id }}" value="{{ user.id }}" onchange="this.form.submit()" {% if user.id == selected_user.id %}checked{% endif %}>
                                            <label class="form-check-label" for="select_user_{{ user.id }}"></label>
                                        </div>
                                    </td>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>{{ user.is_superuser }}</td>
                                    <td>{{ user.is_active }}</td>
                                    <td>{{ user.date_joined }}</td>
                                    <td>
                                        {% for group in user.groups.all %}
                                            {{ group.name }}
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="9">Nu există utilizatori în sistem.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Toate cererile -->
        <div class="tab-pane fade" id="all-notes" role="tabpanel" aria-labelledby="all-notes-tab">
            <div class="row align-items-center mb-3">
                <div class="col-lg-6">
                    <form method="GET" action="{% url 'home_admin' %}" class="d-flex align-items-center">
                        {% csrf_token %}
                        <input type="text" class="form-control me-2" id="note-search" name="note_search_query" placeholder="Caută o cerere după student, profesor sau titlu" value="{{ note_filter }}">
                        <button type="submit" class="btn btn-primary">Caută</button>
                    </form>
                </div>
            </div>
            
            <div class="mt-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Student</th>
                                <th scope="col">Profesor</th>
                                <th scope="col">Titlu</th>
                                <th scope="col">Acceptat</th>
                                <th scope="col">Refuzat</th>
                                <th scope="col">Data creării</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                            <tr>
                                <td>{{ note.id }}</td>
                                <td>{{ note.author }}</td>
                                <td>{{ note.destination }}</td>
                                <td>{{ note.title }}</td>
                                <td>{{ note.is_accepted }}</td>
                                <td>{{ note.is_refused }}</td>
                                <td>{{ note.created_at }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8">Nu există note în sistem.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        





        <!-- Departamente si specializari -->
        <div class="tab-pane fade" id="add-role-department" role="tabpanel" aria-labelledby="add-role-department-tab">


            <form method="post" action="{% url 'add_department' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="department-name" class="form-label">Adaugă departament</label>
                    <input type="text" class="form-control" id="department-name" name="department_name" placeholder="Introdu numele noului departament">
                </div>
                <button type="submit" class="btn btn-primary">Adaugă departament</button>
            </form>
            
            


            <h4 class="mt-4">Adaugă o specializare departamentului</h4>
            <form method="post" action="{% url 'add_specialization' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="department-select" class="form-label">Selectează departamentul</label>
                    <select class="form-select" id="department-select" name="department_id">
                        <option selected>-</option>
                        {% for department in departments %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="email-rule" class="form-label">Specializarea (după e-mail)</label>
                    <input type="text" class="form-control" id="email-rule" name="specialization_name" placeholder="Adaugă specializarea">
                </div>
                <div class="mb-3">
                    <label for="number-of-years" class="form-label">Numărul de ani</label>
                    <input type="number" class="form-control" id="number-of-years" name="number_of_years" placeholder="Introdu numărul de ani">
                </div>
                <button type="submit" class="btn btn-primary">Adaugă</button>
            </form>
            
        </div>




        <!-- Sterge toate cererile si utilizatorii -->
        <div class="tab-pane fade" id="delete-all-notes-students" role="tabpanel" aria-labelledby="delete-all-notes-students-tab">
            <h4 class="text-danger">Delete All Notes and Students</h4>
            <form method="POST" action="{% url 'delete_all_users_notes' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <p class="text-danger">Această acțiune este ireversibilă!</p>
                    <button type="submit" class="btn btn-danger">Șterge</button>
                </div>
            </form>
        </div>










        
        <!-- Istoric -->
        <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
            <form>
                <div class="mb-3">
                    <label for="log-filter" class="form-label">Filtrează istoricul după</label>
                    <select class="form-select" id="log-filter" onchange="document.getElementById('specific-date-input').style.display = this.value === 'specific-day' ? 'block' : 'none'">
                        <option value="month">-</option>
                        <option value="month">Lună</option>
                        <option value="year">An</option>
                        <option value="specific-day">Dată specifică</option>
                    </select>
                </div>
                <div class="mb-3" id="specific-date-input" style="display: none;">
                    <label for="log-date" class="form-label">Selectează data</label>
                    <input type="date" class="form-control" id="log-date">
                </div>
                <button type="submit" class="btn btn-primary">Vizualizează</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
