{% extends 'main/base_home.html' %}
{% block title %} Pagina principala a secretarei {% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Cereri acceptate</h2>
    <form class="mb-4" method="get">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" id="professor-filter" name="professor_filter" placeholder="Filter Professors">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
    {% for professor in professors %}
        {% if not request.GET.professor_filter or request.GET.professor_filter|lower in professor.username|lower %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ professor.username }}</h5>
                <ul class="list-group list-group-flush">
                    {% for note in professor.received_notes.all %}
                        {% if note.is_accepted %}
                        <li class="list-group-item">
                            <strong>Student:</strong> {{ note.author.username }}<br>
                            <strong>Titlul lucrarii:</strong> {{ note.title }}<br>
                            <strong>Descrierea lucrarii:</strong> {{ note.description }}<br>
                            <strong>Data crearii:</strong> {{ note.created_at }}<br>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
