{% extends 'main/base_home.html' %}
{% load tz %}
{% block title %} Pagina profesorului {% endblock %}

<!-- Mesajele -->
{% block no_requests %}
{% if messages %}
<div class="alert alert-success alert-dismissible fade show no_request" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}

{% block content %}

<style>
  /* Custom CSS for larger headings */
  .accordion-item h2.accordion-header button.accordion-button {
    font-size: 1.5rem; /* Adjust the font size as needed */
  }
</style>

<div class="m-4">
  <div class="accordion" id="myAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Cereri acceptate</button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
        <div class="card-body">
          <ul>
            <!-- Afiseaza toate cererile acceptate -->
            {% for note in notes_received %}
              {% if note.is_accepted %}
                <li>
                  <strong>Student:</strong> {{ note.author.username }}<br>
                  <strong>Titlul lucrarii:</strong> {{ note.title }}<br>
                  <strong>Descrierea lucrarii:</strong> {{ note.description }}<br>
                  <strong>Data crearii:</strong> {{ note.created_at|timezone:"Europe/Bucharest"|date:"Y-m-d H:i:s" }}<br>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Cereri in asteptare</button>
      </h2>     
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#myAccordion">
        <div class="card-body">
          <ul>
            <!-- Afiseaza toate cererile in asteptare -->
            {% for note in notes_received %}
              {% if not note.is_accepted %}
                <li>
                  <strong>Student:</strong> {{ note.author.username }}<br>
                  <strong>Titlul lucrarii:</strong> {{ note.title }}<br>
                  <strong>Descrierea lucrarii:</strong> {{ note.description }}<br>
                  <strong>Data crearii:</strong> {{ note.created_at|timezone:"Europe/Bucharest"|date:"Y-m-d H:i:s" }}<br>
                  <!-- Butonul de acceptare -->
                  <form id="acceptForm_{{ note.id }}" action="{% url 'accept_note' note.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Acceptă</button>
                  </form>
                  <!-- Butonul de refuzare -->
                  <form id="refuseForm_{{ note.id }}" action="{% url 'refuse_note' note.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="note_id" value="{{ note.id }}">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmRejectModal_{{ note.id }}">Refuză</button>
                    <!-- Confirmarea refuzului -->
                    <div class="modal fade" id="confirmRejectModal_{{ note.id }}" tabindex="-1" aria-labelledby="confirmRejectModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <label for="reason_{{ note.id }}">Motiv:</label>
                            <textarea class="form-control" id="reason_{{ note.id }}" name="reason" rows="4" placeholder="De ce vrei să refuzi această cerere?.." required></textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
                            <!-- Yes, Reject button -->
                            <button type="submit" class="btn btn-danger">Da, refuză cererea</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Buton de stergere a tuturor cererilor -->
  <button type="button" class="btn btn-danger my-1" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Refuză toate cererile</button>
  <!-- Modal pentru verificarea stergerii tuturor cererilor-->
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Sunteți sigur/ă că vreți să refuzați toate cererile? Această acțiune nu este reversibilă.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
          <form method="post" action="{% url 'refuse_all_requests' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" id="deleteRequestsBtn">Da, refuză tot</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Script -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% if show_remove_button %}
<!-- Buton de devenire indisponibil -->
<button type="button" class="btn btn-danger position-fixed remove-btn"
        style="bottom: 60px; right: 15px; border-radius: 10px; z-index: 1001;"
        data-bs-toggle="modal" data-bs-target="#confirmRemoveModal">
      Pune-mă indisponibil/ă
</button>
<!-- Modal pentru devenire indisponibil -->
<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Sunteți sigur/ă că vreți să deveniți indisponibil/ă pentru studenți?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
        <form method="post" action="{% url 'remove_myself' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" id="removeMyselfBtn">Da, pune-mă indisponibil/ă</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<!-- Buton de devenire disponibil -->
<button type="button" class="btn btn-success position-fixed add-btn"
        style="bottom: 60px; right: 15px; border-radius: 10px; z-index: 1001;"
        data-bs-toggle="modal" data-bs-target="#confirmAddModal">
    Pune-mă disponibil/ă
</button>
<!-- Confirmare pentru devenire disponibil -->
<div class="modal fade" id="confirmAddModal" tabindex="-1" aria-labelledby="confirmAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Sunteți sigur/ă că vreți să deveniți disponibil/ă pentru studenți?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
        <form method="post" action="{% url 'add_myself' %}" id="addMyselfForm">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger" id="addMyselfBtn">Da, pune-mă disponibil/ă</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // Javascript pentru procesul de refuzare a unei cereri
  document.addEventListener('DOMContentLoaded', function() {
    const modalForms = document.querySelectorAll('form[id^="refuseForm_"]');

    modalForms.forEach(function(form) {
      form.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(form);
        const noteId = formData.get('note_id');
        const reason = formData.get('reason');

        fetch(form.action, {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        })
        .then(response => {
          if (response.ok) {
            window.location.reload(); // Refresh la pagina
          }
        })
        .catch(error => {
          console.error('Error:', error);
        })
        .finally(() => {
          // inchide modal-ul
          const modal = document.getElementById(`confirmRejectModal_${noteId}`);
          if (modal) {
            const modalInstance = bootstrap.Modal.getInstance(modal);
            if (modalInstance) {
              modalInstance.hide();
            }
          }
        });
      });
    });
  });
</script>
{% endblock %}